{cover_enabled, true}.
{cover_print_enabled, true}.

{deps, [
  {edown, ".*", {git, "https://github.com/esl/edown.git", "HEAD"}},
  {timing, ".*", {git, "https://github.com/lpgauth/timing.git", {branch, "master"}}}
]}.

{erl_opts, [
  debug_info,
  warnings_as_errors
]}.

{edoc_opts, [
  {app_default, "http://www.erlang.org/doc/man"},
  {doclet, edown_doclet},
  {image, ""},
  {includes, ["include"]},
  {preprocess, true},
  {stylesheet, ""},
  {title, "marina"},
  {top_level_readme, {"./README.md", "http://github.com/lpgauth/marina"}}
]}.
